body {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
}
.container {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.input-btn-container {
    display: flex;
    justify-content: center;
}

.input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-right: 12px;
}

.btn {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    background-color: black;
    color: white;
}

.list-item {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex: 1; */
    width: 400px;
}

.list-item::after {
    content: "";
}

.change-button {
    border: none;
    border-radius: 8px;
    float: right;
}
